/* $Id*/

#democracy-forum div.left {
  float:left;
  width:48%;
}

#democracy-forum div.right {
  float:right;
  width:48%;
}

/* Related council block - "check" if voted */
.view-council-related .item-list ul li {
  background-image: url(not-voted.png);
}
.view-council-related .item-list ul li.voted {
  background-image: url(voted.png);
}

/* Add some default color to 'Yes' and 'No' result. */ 
span.yes {
  color: #33aa33; 
}
span.no {
  color: #c52020;
}
